.history {
    line-height: 24px;
    margin-bottom: 20px;
    color: #274B79;
    font-size: 16px;
}

.slide img {
    width: 100%;
}

.slider-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.slider {
	width: 60%;
	position: relative;
	display: flex;
}