.content__block--main {
    line-height: 24px;
    color: #274B79;
    font-size: 16px;
}
.main_title {
    font-size: 45px;
    line-height: 55px;
    width: 90%;
    margin-bottom: 20px;
}
.main_date {
    font-size: 24px;
    margin-bottom: 20px;
}
.main_place {
    font-size: 20px;
    margin-bottom: 20px;
}