.jury {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.jury_person {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    color: #274B79;
}
.jury_person > img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
}
.jury_person > h1 {
    font-size: 20px;
    margin: 10px 0;
    height: 46px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}
.jury_city {
    font-size: 16px;
    line-height: 24px;
}
.jury_about {
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0;
}