input {
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
}
html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    color: #292929;
    font: 14px/25px Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    /* background-color: aliceblue; */
    background: url(../images/table.jpg);
    align-items: center;
}
a {
    color: #006699;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
.logo-text {
    color: white;
    font-size: 70px;
    font-weight: bold;
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
    height: 70px;
}
.main-image {
    width: 55%;
    display: flex;
    cursor: pointer;
    border-radius: 45px;
}

/*-------------header */
header {
    height: 213px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-color: aliceblue; */
    color: #006699;
    font-size: 22px;
    font-weight: normal;
    box-sizing: border-box;
}

#search-box {
    height:  30px;
    display:  flex;
    flex-direction:  row;
    justify-content: flex-end;
    padding: 0 30px;
}
#search-form {
    height: 30px;
    border: 1px solid #4ba4d3;
    width: 14%;
    border-radius: 12px;
    background-color:  white;
    overflow:  hidden;
    position: absolute;
    right: 20px;
    top: 25px;
}
#search-text {
    font-size: 14px;
    color: #4ba4d3;
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
}
#search-text::placeholder {
    color: #4ba4d3;
}
#search-box input[type="text"] {
    padding: 5px 0 5px 1em;
    width: 100%;
}

/*------------menu */
nav {
    width: 60%;
    margin: 0 auto;
    height: 70px;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
}
nav div {
    height: 50px;
    display:  flex;
    align-items:  center;
    width: 15%;
    justify-content:  center;
    cursor: pointer;
    border-top: 10px solid #fff;
    font-weight: bold;
}
.border--red:hover {
    /* color: #E80B2C; */
    border-top: 10px solid #ec4554;
    /* background-color: #F9D2D4; */
    height: 50px;
}
.border--yellow:hover {
    /* color: #FCF22F; */
    border-top: 10px solid #FDF546;
    /* background-color: #FEFDCF; */
    height: 50px;
}
.border--green:hover {
    /* color: #91FE2D; */
    /* border: 10px solid #E9FFD1; */
    border-top: 10px solid #A6FE48;
    /* background-color: #E9FFD1; */
    height: 50px;
}
.border--blue:hover {
    /* color: #1654A2; */
    border-top: 10px solid #3A76B3;
    /* background-color: #CFDEEC; */
    height: 50px;
}
.border--violet:hover {
    /* color: #8868AC; */
    border-top: 10px solid #8868AC;
    /* background-color: #E3DAEB; */
    height: 50px;
}

/*-------------content */
#content {display: flex;flex-direction: column;align-items: center;width: 60%;background-color: white;padding: 20px;box-sizing: border-box;position: relative;}

.block {
    padding: 10px 0px;
    background: #ffffff;
    width: 80%;
}

.content {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-family: Helvetica;
}

.add-image {
    border-radius: 12px;
    margin-right: 20px;
    height: fit-content;
    align-self: center;
}



/*------------footer */
footer {
    padding: 20px 10px;
    /* background: #fff; */
    margin-top: 15px;
    height: 8vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}